<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>NEW PROJECT AWAITS</th>
        </tr>
        <tr>
            <td>
                <p>Hello <%= Name %>, hope this finds you well. We have a project for you</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: bold;font-size: medium;">Could you kindly check on the project details below and give me the feedback as soon as possible</p>

            </td>
        </tr>
        <tr>
            <td>
                <p style="font-weight:bold;">These are project details</p>
                <p style="color: bold;font-size: medium;"><%= detail %> </p>
            </td>
        </tr>
        <tr>
           
        </tr>
        <tr>
            <td>
                <p>Kindly work on the project and have it completed before <%=EndDate %></p>
            </td>
        </tr>
    </table>
</body>
</html>
