<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>WELCOME ONBOARD <%= Name %></th>
        </tr>
        <tr>
            <td>
                <p>Hi <%= Name %>,</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://cdn.pixabay.com/photo/2016/10/28/12/42/tic-tac-toe-1777933_640.jpg" alt="image">
            </td>
        </tr>
        <tr>
            <td>
                <p>Thank you for signing up with us</p>
            </td>
        </tr>
    </table>
</body>
</html>
