<div class="dashboard">
    <div class="logo">
        <img [src] = "logo" alt="">
        <p>Water Management System</p>
    </div>
    <div class="links">
        <a routerLink = "/admin">Home</a>
        <a >Projects</a>
        <a routerLink = "/allusers">Users</a>
        <a (click)="logOut()">Logout</a>
    </div>
</div>
<div class="admincontent">
    <div class="topdashboard">
        <div class="username">
            <P>Hello Admin</P>
        </div>
        <div class="date">
            {{today | date : 'mediumDate'}}
        </div>
    </div>
    <div class="projectContainer">
        <button><a routerLink = "/addproject">Add Project</a></button>
    </div>
    <div class="allprojects">
        <div class="Projectprofile" *ngFor="let project of allProjectDetails;">
            <h1>Project Name: {{project.projectName}}</h1>
            <p>Project Details: {{project.projectDescription}}</p>
            <p>Project Handler:  {{project.AssignedUserName}}</p>
            <p>Project Status: {{project.projectStatus}}</p>
            <div>
                <button (click)="deleteProject(project.projectID)">Delete Project</button>
                <!-- <button>Edit Project</button> -->
            </div>
        </div>
    </div>
</div>


