.dashboard{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
    background-color: #a2bffa;
}
.dashboard .logo{
    margin-bottom: 10px;
    font-size: 2rem;
} 
.dashboard .logo img{
    width: 20%;
}
.dashboard .links{
    display: flex;
    flex-direction: column;
}
.dashboard .links a{
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.dashboard .links a:hover{
    font-weight: 500;
    color: #eeeeee;
}
.admincontent{
    width: 80vw;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admincontent .topdashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #a2bffa;
}
/*FORM STYLING*/
.projectcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectcontainer h2{
    padding: 10px;
    font-size: 1.3rem;
}
.projectcontainer form {
    width: 70%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
    padding: 10px;
}
.projectcontainer form div{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.projectcontainer form div label{
    padding-bottom: 2px;
}
.projectcontainer form div input, .projectcontainer form div select{
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}
.projectcontainer form div input[type=submit]{
    background-color: var(--darkblue);
}