<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="../public/css/user.css">
</head>

<body>
    <div class="container">
        <div class="company">
            <h1>World Waters</h1>
            <div>
                <h3>Dashboard</h3>
                <button><a href="index.html">Logout</a></button>
            </div>
        </div>
        <div class="dashboard">
            <div class="nav">
                <div class="date">
                    <p id="dateDisplay">Date</p>
                </div>

                <div class="accountIcon">
                    <div class="accountDropdown">
                        <a href="#">User</a>
                        <div class="dropdown-content">
                            <a href="#">Profile</a>
                            <a href="../index.html">Logout</a>
                        </div>
                    </div>
                    <div><ion-icon class="p-icon" name="person-circle-outline"></ion-icon></div>
                </div>
            </div>
            <div class="projectContainer">
                <div class="projectList">
                    <div class="projectListHeader">
                        <h2>My Project</h2>
                    </div>
                    <div class="projectItems">
                        <div class="projectItem">
                            <!-- <span>Project 1</span> -->
                            <div class="buttonContainer">
                                <button class="submitTaskButton"><i class="fas fa-paper-plane"></i>Complete</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="background-overlay" id="backgroundOverlay"></div>
            <div class="projectInfo" id="projectInfo" style="display: none;">
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<script>
   function updateDate() {
    const dateElement = document.getElementById("dateDisplay");
    const now = new Date();
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    const formattedDate = now.toLocaleDateString('en-US', options);
    dateElement.textContent = formattedDate;
}
updateDate();
setInterval(updateDate, 24 * 60 * 60 * 1000);


</script>
<script src="./dist/users.js"></script>

</html>